.next/
node_modules/
.env
.env.local
.env.*.local
out/
dist/
*.log
*.pdf
*.png
*.jpg
*.jpeg
*.webp
!public/images/
!public/images/**/
!public/images/**/*.png
!public/images/**/*.jpg
!public/images/**/*.jpeg
!public/images/**/*.webp
.vercel/

